@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Couleurs principales */
  --black-main: #000000;
  --gold-main: #d4af37;
  --white-main: #ffffff;

  /* Couleurs secondaires */
  --gray-light: #f2f2f2;
  --gray-medium: #999999;
  --gold-light: #f5e29c;

  /* Couleurs personnalisées pour effets */
  --hover-gold: #e6c200;
  --shadow-color: rgba(212, 175, 55, 0.3);

  /* Texte */
  --text-primary: var(--white-main);
  --text-secondary: var(--gray-medium);

  /* Fond */
  --background-dark: var(--black-main);
  --background-light: var(--gray-light);

  /* Variables standard */
  --primary-color: var(--gold-main);
  --text-dark: var(--black-main);
  --text-light: var(--gray-medium);
  --white: var(--white-main);
  --max-width: 1200px;
  --header-font: "Lora", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__subheader {
  color: var(--text-secondary);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--gold-main);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--hover-gold);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}
.logooaz{
  width: 100px;
  height: 100px;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  z-index: 99;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
                    url("logo/bk.avif");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
  z-index: -999;
}


nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  flex: 1;
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white-main);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  position: relative;
  padding: 10px 0;
  color: var(--white-main);
  transition: 0.3s;
}

.link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: var(--gold-main);
  transition: 0.3s;
}

.link a:hover::after {
  width: 100%;
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white-main);
}

.nav__actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav__actions span {
  font-size: 1.2rem;
  color: var(--white-main);
  cursor: pointer;
}

.header__container {
  text-align: center;
  color: var(--text-primary);
}

.header__container h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 600;
  font-family: var(--header-font);
}

.header__container p {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.header__container input::placeholder {
  color: var(--text-primary);
}

.header__container button {
  padding: 11px 12px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: var(--text-primary);
  background-color: var(--gold-main);
  border-radius: 100%;
  cursor: pointer;
}

.header__container a {
  display: inline-block;
  padding: 0 12px;
  font-size: 3rem;
  color: var(--white-main);
  backdrop-filter: blur(10px);
  border: 1px solid var(--gold-light);
  border-radius: 100%;
}

.header__container form {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-block: 0.25rem;
  padding-inline: 1.25rem 0.25rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid var(--gold-light);
  border-radius: 5rem;
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white-main);
  background-color: transparent;
}

.choose__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  font-size: 1.25rem;
  background-color: var(--gold-light);
  border-radius: 100%;
}

.choose__card h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.choose__card p {
  color: var(--text-secondary);
}

.choose__image img {
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px var(--shadow-color);
}

.offer__container {
  padding-block: 5rem;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, var(--max-width))
    minmax(0, 1fr);
  row-gap: 2rem;
}

.offer__grid__top {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.choose__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.choose__container .choose__bg {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-3rem);
  max-width: 300px;
  opacity: 0.4;
  z-index: -1;
}

.craft__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
}

.craft__container .section__subheader {
  margin-bottom: 2rem;
}

.craft__image {
  position: relative;
  isolation: isolate;
}

.craft__image::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--gray-light);
  border-radius: 15px;
  transition: 0.3s;
  z-index: -1;
}

.craft__image:hover::before {
  height: 80%;
}

.craft__image__content {
  padding-bottom: 2rem;
  text-align: center;
  transition: 0.3s;
}

.craft__image__content img {
  margin-bottom: 1rem;
  max-width: 250px;
  margin: auto;
}

.craft__image__content p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.craft__image__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.craft__image:hover .craft__image__content {
  transform: translateY(-2rem);
}

.craft__image a {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 50%);
  padding: 0 7px;
  font-size: 1.75rem;
  color: var(--text-primary);
  background-color: var(--gold-main);
  border-radius: 100%;
  box-shadow: 5px 5px 20px var(--shadow-color);
  opacity: 0;
  transition: 0.3s;
}

.craft__image:hover a {
  opacity: 1;
}

.modern__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__image {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  min-height: 470px;
  margin: auto;
}

.choose__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
  margin-block-start: 2rem;
}

.offer__grid__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 4;
  gap: 2rem;
}

.offer__container img {
  border-radius: 10px;
  box-shadow: 5px 5px 20px var(--shadow-color);
}

.offer__content {
  padding-inline-end: 1rem;
}

.offer__content .section__subheader {
  margin-block-end: 2rem;
}

.modern__bg {
  position: absolute;
  max-width: 200px;
  right: 0;
  top: -4rem;
  opacity: 0.5;
}

.modern__img-1,
.modern__img-2,
.modern__img-3 {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 20px var(--shadow-color);
}

.modern__img-1 {
  max-width: 375px;
}

.modern__img-2 {
  max-width: 175px;
  right: 0;
}

.modern__img-3 {
  max-width: 250px;
  right: 0;
  bottom: -2rem;
}

.modern__grid {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__card {
  display: flex;
  gap: 1rem;
}

.modern__card span {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--gold-main);
}

.modern__card p {
  color: var(--text-secondary);
}

.testimonial__container .section__header {
  text-align: center;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.testimonial__card {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.testimonial__card p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--text-dark);
}

#cursor-balls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

.testimonial__card img {
  max-width: 60px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px var(--shadow-color);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.header {
  position: relative;
  overflow: hidden;
}

.testimonial__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.offer__grid__top img,
.offer__grid__bottom img {
  transition: transform 1.5s ease, box-shadow 0.5s ease;
  will-change: transform;
}

.offer__grid__top img:hover,
.offer__grid__bottom img:hover {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 0 20px 5px var(--shadow-color), 0 0 40px 10px rgba(212, 175, 55, 0.3);
  z-index: 2;
}

.blog__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px var(--shadow-color);
}

.blog__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.blog__card p {
  font-weight: 500;
  color: var(--text-dark);
}

.blog__card p span {
  font-weight: 400;
  font-style: italic;
  color: var(--text-secondary);
}
#contact-form {
  background-color: var(--gray-medium);
  padding: 2rem;
  border-radius: 12px;
  border: 2px solid var(--hover-gold);
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px var(--shadow-color);
  font-family: Arial, sans-serif;
}

#contact-form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: var(--white-main);
  text-align: start;
}

.required-field::after {
  content: " *";
  color: red;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid var(--gray-medium);
  border-radius: 8px;
  background-color: white;
  color: var(--text-dark);
  font-size: 1rem;
  transition: border-color 0.5s ease;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

#contact-form textarea {
  resize: vertical;
}

#contact-form .btn {
  margin-top: 1.5rem;
  background-color: var(--gold-main);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

#contact-form .btn:hover {
  background-color: var(--hover-gold);
  transform: scale(1.03);
}

#contact-form .btn a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: var(--gray-medium);
}

        .success-box {
            background-color: #d4edda;
            color: var(--gold-main);
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .error-box {
            background-color: #f8d7da;
            color: #721c24;
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
        }
        
        .form-title {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }
        
        .required-field::after {
            content: " *";
            color: red;
        }   
.footer {
  background-color: var(--background-dark);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  border-bottom: 1px solid var(--gold-light);
}

.footer__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: var(--text-primary);
}

.footer__content p {
  color: var(--text-primary);
}

.footer__form form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white-main);
  border-radius: 10px;
}

.footer__form input {
  width: 100%;
  padding: 0 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

.footer__form button {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--text-primary);
  background-color: var(--gold-main);
  border-radius: 5px;
}

.footer__bar {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__logo h4 a {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--gold-main);
}

.footer__logo p {
  margin-top: 5px;
  font-size: 0.8rem;
  color: var(--text-primary);
}

.footer__nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__link a {
  font-weight: 500;
  color: var(--text-primary);
  white-space: nowrap;
}

.footer__nav svg:hover{
color: var(--hover-gold);
scale: 1.2;
}

@media (width < 1200px) {
  .offer__container {
    row-gap: 1rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .offer__grid__top img:first-child,
  .offer__grid__bottom img:first-child {
    display: none;
  }

  .craft__container {
    gap: 1rem;
  }
}

@media (width < 900px) {
  .nav__actions {
    display: none;
  }

  .choose__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .choose__container .choose__bg {
    left: 0;
    transform: translateX(0);
  }

  .choose__image {
    grid-area: 1/1/2/2;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__grid__top img:nth-child(2),
  .offer__grid__bottom img:nth-child(4) {
    display: none;
  }

  .craft__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .modern__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}

@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--black-main);
    z-index: 99;
  }

  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header__container h1 {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    padding-inline: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }

  .footer__bar {
    flex-direction: column;
  }
}



  .required-field::after {
    content: " *";
    color: red;
  }
  .success-box {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin-bottom: 15px;
    color: #155724;
    border-radius: 5px;
  }
  .error-box {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin-bottom: 15px;
    color: #721c24;
    border-radius: 5px;
  }
